.maximize {
  height: 100%;
}

path {
  stroke: #A00016;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-
  rendering: crispEdges;
}

h1 {
  color: #888888;
  position: absolute;
  top: 50px;
  right: 140px;
}

.maximize {
  width: 100%;
}

.maximize.overlay {
   z-index: 0;
    position: fixed;
    padding: 20px;
    background: rgba(27, 27, 27, 0.73);
}

.maximize.overlay.visible {
  z-index: 1;
}
