path {
  stroke: #C4FF4E;
  stroke-width: 4px;
  fill: none;
}

.ct-grids {
  visibility: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-
  rendering: crispEdges;
}

#time {
  color: #1FCA04;
  position: absolute;
  right: 140px;
  font-size: 130px;
}

.maximize {
  height: 100%;
  width: 100%;
}

.maximize.overlay {
   z-index: 0;
    position: fixed;
    padding: 20px;
    background: rgba(27, 27, 27, 0.73);
}

.maximize.overlay.visible {
  z-index: 1;
}

#graph-container {
  bottom: 0px;
}

.ct-label {
  display: none !important;
}


.ct-legend {
    list-style: none;
    padding:0;
    margin:0;
    position: absolute;
    right: 100px;
    padding-top: 20px;
    font-size:  20px;
}

.ct-legend li {
    color: white;
}

li {
    padding-left: 1em;
    text-indent: -.7em;
}

li.ct-series-0::before {
  content: "• ";
  color: #D70206;
}

li.ct-series-1::before {
  content: "• ";
  color: #F1664D;
}

li.ct-series-2::before {
  content: "• ";
  color: #F4C63D;
}
