path {
  stroke: #C4FF4E;
  stroke-width: 4px;
  fill: none;
}

.ct-grids {
  visibility: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-
  rendering: crispEdges;
}

#time {
  color: #1FCA04;
  position: absolute;
  right: 140px;
  font-size: 130px;
}

.maximize {
  height: 100%;
  width: 100%;
}

.maximize.overlay {
   z-index: 0;
    position: fixed;
    padding: 20px;
    background: rgba(27, 27, 27, 0.73);
}

.maximize.overlay.visible {
  z-index: 1;
}

#graph-container {
  bottom: 0px;
}

.ct-label {
  display: none !important;
}
